/* chart_css */

h1 {
    margin: 30px auto;
    margin-left: 130px;    
    font-size: 50px;
    
}
h3{
    margin: 30px auto;
    margin-left: 130px;    
    font-size: 20px;
}
.prod_cnt { text-align: center;}
.prod_area > div { width: 1500px ; margin-left: 130px;}

.table{ margin-top: 30px;width: 1500px ;margin-left: 130px; margin-bottom: 50px;}

.table td{
    border:1px solid #ccc;
    border:1px solid #ccc;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    width: 10px;
}
.cnt_check b{
    font-size: 25px;
}
.name {background-color: #fdd835;}
input{
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 5px;
}
.c_button{
    border: 0;
    border-radius: 3px;
    background-color: #fdd835;
    color: #fff; padding:10px 20px;
    cursor: pointer;
}
button:hover{
    background-color: #333;
}
.table_div {
    width: 1500px ; margin-left: 130px;
}
.select_date_button{
    text-align: center;
    margin-bottom: 150px;
}
.select_date_button > input { width: 146px;}
.table  #date_prod_cnt_headaer ,#term_prod_cnt_headaer {
    background-color: #fdd835
}
.select_date_button > button{ width: 150px; margin-bottom: 20px;}

b{
    font-size: 30px;
    color:#db7500;
}

.select_btn_area {
    width: 1500px ;margin-left: 130px;
}
.select_date_button .btn {
 width: 100px; background-color: #df9139;
}