.preview > img {
    width: 300px;
}
.paging_button{
    color: #000; background-color:rgb(187, 187, 187); font-size: 13px; margin-left: 10px; border: 0;cursor:pointer;   padding: 8px;
    width: 30px; cursor: pointer;
}


