.list table td{
    border-bottom:1px solid #ccc;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}
.list table tr:nth-child(even){
    background-color: #fbfbfb;
}
.list table {min-width: 1050px;}
.list thead td{background-color: #fdd835; color: #fff; border-color: #fdd835;}
body > h1 {font-size: 32px; font-weight: 700; margin-bottom: 30px;}


