<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingMall.mapper.OrderMapper">
<insert id ="insertOrderInfo">
   INSERT INTO order_info
(oi_mi_seq,oi_pi_seq,oi_delivery_no,oi_prod_count)
VALUES(#{oi_mi_seq},#{oi_pi_seq},#{oi_delivery_no},#{oi_prod_count});
</insert>
<delete id ="deleteOrderInfo">
    delete from order_info where oi_seq=#{seq}
</delete>

<select id ="selectOrderInfo" resultType="com.shoppingMall.vo.OrderProductVO">
       select * from 
    (select * from order_info a inner join product_info b
    on a.oi_pi_seq = b.pi_seq ) a inner join seller_info b on a.pi_si_seq = b.si_seq
    where oi_mi_seq=34  group by oi_reg_dt order by oi_reg_dt desc     
</select>

<update id ="updateOrderStatus">
    update order_info set oi_order_status=#{status} where oi_seq = #{seq}
</update>
<update id ="updateOrderDeliveryStatus">
    update order_info set oi_delivery_status=#{status} where oi_seq = #{seq}
</update>

<select id="orderInfo" resultType ="com.shoppingMall.vo.OrderInfoVO">
    select 
       oi_seq, oi_reg_dt, oi_pay_info, oi_delivery_no, oi_delivery_status,
       oi_prod_count, mi_seq, mi_id, mi_name, mi_email, mi_address, mi_phone,
       pi_seq,   pi_name, pi_discount_rate, pi_point_rate, pi_price, pi_img_uri,
       si_seq, si_name, si_address, si_email, si_phone,
       (pi_price-(pi_price * pi_discount_rate / 100))* oi_prod_count as final_price,
       pi_price*pi_point_rate / 100 * oi_prod_count  as final_point
    from
    (
       (
          select * from order_info oi inner join member_info mi
          on oi.oi_mi_seq = mi.mi_seq
       ) od
       inner join
       (
          select * from product_info pi inner join seller_info si 
          on pi.pi_si_seq = si.si_seq
       ) product
       on od.oi_pi_seq = product.pi_seq
    )
    where product.si_seq =#{seq}
    order by oi_reg_dt desc
    limit 10 offset #{offset}
</select>

<select id="selectOrderCount" resultType ="java.lang.Integer">
    select count(*) from order_info
</select>

<update id="UpdateDeliveryStatus">
    UPDATE order_info
    SET oi_delivery_status= #{status}
    WHERE oi_seq= #{oi_seq}
</update>

<!-- product_count / 주문완료될때 판매량추가  -->
<insert id="insertProductConunt">
    INSERT INTO product_count
    (pc_pi_seq, pc_count, pc_mi_seq ,pc_si_seq)
    VALUES(#{pc_pi_seq},#{pc_count}, #{pc_mi_seq},#{pc_si_seq});
</insert>

<select id="selectOrderCnt" resultType="java.lang.Integer">
    select (count(*)-1)as cnt from order_info a inner join product_info b
    on a.oi_pi_seq = b.pi_seq where oi_reg_dt = #{regDt} and oi_mi_seq = #{seq}
</select>
<select id="detailOrder" resultType="com.shoppingMall.vo.OrderProductVO">
 select*  ,sum(pi_price*oi_prod_count) as sum_originPrice from(
    select *from order_info a inner join product_info b
    on a.oi_pi_seq = b.pi_seq
    )a inner join seller_info b on a.pi_si_seq = b.si_seq    
    where oi_mi_seq =#{seq} and oi_reg_dt =#{regDt} group by oi_seq;    
</select>

</mapper>