<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.shoppingMall.mapper.RecommandMapper">
  <select id="selectRecommandProducts" resultType="com.shoppingMall.vo.ProductInfoVO">
        select a.* from product_info a inner join recommand b
        on a.pi_seq = b.reco_pi_seq order by b.reco_seq desc limit 4
  </select>
  </mapper>