<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.shoppingMall.mapper.ReviewMapper">
      <insert id="insertReview">
            insert into review (rev_pi_seq,rev_mi_seq,rev_oi_seq,rev_content,rev_rate)
            values(#{rev_pi_seq},#{rev_mi_seq},#{rev_oi_seq},#{rev_content},#{rev_rate})
      </insert>
            <select id="selectMemberProdReviewCnt" resultType="java.lang.Integer">
            select count(*) from review where rev_oi_seq  = #{oi_seq};
      </select>
            <select id="selectProdReviewRateAvg" resultType="java.lang.Double">
            select  AVG(rev_rate) as rev_rate_avg from review where rev_pi_seq= #{pi_seq} group by rev_pi_seq;
      </select>
      
       <select id="showReview" resultType="com.shoppingMall.vo.ReviewVO">
            select rev_status,rev_seq,si_seq,rev_reg_dt,rev_mod_dt,rev_rate,pi_name,pi_price,rev_content,mi_id from member_info a inner join
            (select * from seller_info a inner join
            (select * from review a inner join product_info b on a.rev_pi_seq = b.pi_seq )b on a.si_seq = b.pi_si_seq)
            b on a.mi_seq = b.rev_mi_seq where si_seq=#{si_seq} order by rev_reg_dt desc limit 10;
       </select>
       <select id="showReviewBySeq" resultType="com.shoppingMall.vo.ReviewVO">
            select rev_seq,si_seq,rev_reg_dt,rev_mod_dt,rev_rate,pi_name,pi_price,rev_content,mi_id from member_info a inner join
            (select * from seller_info a inner join
            (select * from review a inner join product_info b on a.rev_pi_seq = b.pi_seq )b on a.si_seq = b.pi_si_seq)
            b on a.mi_seq = b.rev_mi_seq where si_seq=#{si_seq} and rev_seq =#{rev_seq} order by rev_reg_dt desc limit 10;
       </select>
      
      <select id="selectReviewAnsewer" resultType="com.shoppingMall.vo.ReviewAnswerVO">
            select * from review_answer where ra_si_seq=#{si_seq} and ra_rev_seq=#{rev_seq}
      </select>
      
      <select id="ReviewAnsewer" resultType="com.shoppingMall.vo.ReviewAnswerVO">
            select * from review_answer where ra_si_seq=#{si_seq}
      </select>
      
      <insert id="insertReviewAnswer">
            INSERT INTO review_answer
            (ra_rev_seq, ra_content, ra_si_seq)
            VALUES(#{ra_rev_seq}, #{ra_content}, #{ra_si_seq});
      </insert>
      
      <update id="updateReviewStatus">
            UPDATE review
            SET rev_status=#{status}
            WHERE rev_seq= #{rev_seq};
      </update>
      <update id="updateReviewAnswer">
            UPDATE review_answer
            set ra_mod_dt=CURRENT_TIMESTAMP, ra_content=#{ra_content}, ra_si_seq=#{ra_si_seq}
            WHERE ra_rev_seq=#{ra_rev_seq};
      </update>
      
      <delete id="deleteReviewAnswer">
            delete from review_answer where ra_rev_seq =#{rev_seq}
      </delete>
      
      <select id="selectSellerSeq" resultType="java.lang.Integer">
            select pi_si_seq from product_info pi2  where pi_seq= #{prod_seq}
      </select>

      <select id="selectReviewByProd" resultType="com.shoppingMall.vo.ReviewVO">
            select rev_status,rev_seq,si_seq,rev_reg_dt,rev_mod_dt,rev_rate,pi_name,pi_price,rev_content,mi_id from member_info a inner join
            (select * from seller_info a inner join
            (select * from review a inner join product_info b on a.rev_pi_seq = b.pi_seq )b on a.si_seq = b.pi_si_seq)
            b on a.mi_seq = b.rev_mi_seq where pi_seq=#{prod_seq} order by rev_reg_dt desc
      </select>

      <select id="selectReviewByMember" resultType="com.shoppingMall.vo.ReviewVO">
            select a.*,b.pi_name ,b.pi_price from review a inner join product_info b on a.rev_pi_seq = b.pi_seq  where rev_mi_seq =#{seq};
      </select>

      <select id="getReviewAnswerCnt" resultType="java.lang.Integer">
            select count(*) from review a inner join review_answer b on a.rev_seq = b.ra_rev_seq where ra_rev_seq= #{seq};
      </select>

      <select id = "selectAnswerBySeq" resultType="com.shoppingMall.vo.ReviewAnswerVO">
            select*from review_answer where ra_rev_seq = #{seq};
      </select>
 </mapper>
