<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.shoppingMall.mapper.SellerMapper">
        <select id="selectSellerAll"  resultType="com.shoppingMall.vo.SellerInfoVO" >
          select*from seller_info;
        </select>
        <insert id="insertSeller">
            insert into seller_info(si_id,si_pwd,si_name,si_address,si_email,si_phone)
            values
            (#{si_id},#{si_pwd},#{si_name},#{si_address},#{si_email},#{si_phone})
        </insert>
        
        <select id="selectSellerById" resultType="java.lang.Integer">
            select count(*) from seller_info where si_id=#{id}
        </select>
        
        <select id="selectSellerByEmail" resultType="java.lang.Integer">
            select count(*) from seller_info where si_email=#{email}
        </select>
        
        <select id="loginSeller" resultType="java.lang.Integer">
            select count(*) from seller_info where si_id=#{id} and si_pwd=#{pwd}
        </select> 
        
        <select id="selectSellerInfoById" resultType="com.shoppingMall.vo.SellerInfoVO">
            select si_seq,si_id,si_name,si_address,si_email,si_phone,si_grade  from seller_info where si_id=#{id}
        </select>
        
        <select id="showProdCnt" resultType="com.shoppingMall.vo.ChartVO">
           select sum(a.pc_count)as pc_count,pi_name from product_count a inner join product_info b 
           on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq} group by a.pc_pi_seq order by pc_count desc 
        </select>

         <select id="showProdCntYesterDay" resultType="com.shoppingMall.vo.ChartVO">           
           select sum(a.pc_count)as pc_count,pi_name,pc_date from product_count a inner join product_info b            
           on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  and pc_date= curdate()- INTERVAL 1 day         
           group  by pi_name;
        </select>

        <select id="showProdCntToDay" resultType="com.shoppingMall.vo.ChartVO">    
           select sum(a.pc_count)as pc_count,pi_name,pc_date from product_count a inner join product_info b 
           on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  and pc_date= curdate()
           group  by pi_name;
        </select>

        <select id="showProdCntByDate" resultType="com.shoppingMall.vo.ChartVO">
           select sum(a.pc_count)as pc_count,pi_name,pc_pi_seq from product_count a inner join product_info b 
           on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq} and pc_date = #{date}
           group by a.pc_pi_seq order by pc_count desc ;
        </select>

        <select id="showProdCntByTerm" resultType="com.shoppingMall.vo.ChartVO">
            select sum(a.pc_count)as pc_count,pi_name from product_count a inner join product_info b 
            <if test="term.equals('month')">
             on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  and pc_date between date_format(now(),'%Y-%m-01') and now()
            </if>
            <if test="term.equals('week')">
            on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  and pc_date between  adddate(curdate(), - weekday(curdate()) + 0 ) and adddate(curdate(), - weekday(curdate()) + 6)
            </if>
            <if test="term.equals('year')">
             on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  and pc_date between  date_format(sysdate(),'%Y-01-01') and date_format(sysdate(),'%Y-%m-%d')
            </if>          
            group by a.pc_pi_seq order by pc_count desc ;
        </select>

        <select id="showProdCntByTermDate" resultType="com.shoppingMall.vo.ChartVO">
             select sum(a.pc_count)as pc_count,pi_name from product_count a inner join product_info b 
             on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  and pc_date between #{start_date} and #{end_date}
             group by a.pc_pi_seq order by pc_count desc ;
        </select>
          

        <select id="showProdCntRank" resultType="com.shoppingMall.vo.ChartVO">
           select sum(a.pc_count)as pc_count,pi_name from product_count a inner join product_info b 
           on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq} group by a.pc_pi_seq order by pc_count desc limit 5;
        </select>

        <select id="showReiview" resultType="com.shoppingMall.vo.ReviewVO">
            select si_seq,rev_reg_dt,rev_mod_dt,rev_rate,pi_name,pi_price,rev_content,mi_id from member_info a inner join
            (select * from seller_info a inner join
            (select * from review a inner join product_info b on a.rev_pi_seq = b.pi_seq )b on a.si_seq = b.pi_si_seq)
            b on a.mi_seq = b.rev_mi_seq where si_seq=#{si_seq} order by rev_reg_dt desc limit 10;
        </select>
  </mapper>