<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.shoppingMall.mapper.SellerMapper">
        <select id="selectSellerAll"  resultType="com.shoppingMall.vo.SellerInfoVO" >
          select*from seller_info;
        </select>
        <insert id="insertSeller">
            insert into seller_info(si_id,si_pwd,si_name,si_address,si_email,si_phone)
            values
            (#{si_id},#{si_pwd},#{si_name},#{si_address},#{si_email},#{si_phone})
        </insert>
        
        <select id="selectSellerById" resultType="java.lang.Integer">
            select count(*) from seller_info where si_id=#{id}
        </select>
        
        <select id="selectSellerByEmail" resultType="java.lang.Integer">
            select count(*) from seller_info where si_email=#{email}
        </select>
        
        <select id="loginSeller" resultType="java.lang.Integer">
            select count(*) from seller_info where si_id=#{id} and si_pwd=#{pwd}
        </select> 
        
        <select id="selectSellerInfoById" resultType="com.shoppingMall.vo.SellerInfoVO">
            select si_seq,si_id,si_name,si_address,si_email,si_phone,si_grade  from seller_info where si_id=#{id}
        </select>
        
        <select id="showProdCnt" resultType="com.shoppingMall.vo.ChartVO">
           select sum(a.pc_count)as pc_count,pi_name from product_count a inner join product_info b 
           on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq} group by a.pc_pi_seq order by pc_count desc 
        </select>

         <select id="showProdCntYesterDay" resultType="com.shoppingMall.vo.ChartVO">           
           select sum(a.pc_count)as pc_count,pi_name,pc_date from product_count a inner join product_info b            
           on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  and pc_date= curdate()- INTERVAL 1 day         
           group  by pi_name;
        </select>

        <select id="showProdCntToDay" resultType="com.shoppingMall.vo.ChartVO">    
           select sum(a.pc_count)as pc_count,pi_name,pc_date from product_count a inner join product_info b 
           on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  and pc_date= curdate()
           group  by pi_name;
        </select>

        <select id="showProdCntByDate" resultType="com.shoppingMall.vo.ChartVO">
           select sum(a.pc_count)as pc_count,pi_name,pc_pi_seq from product_count a inner join product_info b 
           on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq} and pc_date = #{date}
           group by a.pc_pi_seq order by pc_count desc ;
        </select>

        <select id="showProdCntByTerm" resultType="com.shoppingMall.vo.ChartVO">
            select sum(a.pc_count)as pc_count,pi_name from product_count a inner join product_info b 
            <if test="term.equals('month')">
              on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  
              and pc_date between date_format(now(),'%Y-%m-01') and now()
            </if>
            <if test="term.equals('week')">
              on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq} and 
              pc_date between  adddate(curdate(), - weekday(curdate()) + 0 ) and adddate(curdate(), - weekday(curdate()) + 6)
            </if>
            <if test="term.equals('year')">
              on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  
              and pc_date between  date_format(sysdate(),'%Y-01-01') and date_format(sysdate(),'%Y-%m-%d')
            </if>          
              group by a.pc_pi_seq order by pc_count desc ;
        </select>

        <select id="showProdCntByTermDate" resultType="com.shoppingMall.vo.ChartVO">
             select sum(a.pc_count)as pc_count,pi_name from product_count a inner join product_info b 
             on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq}  and pc_date between #{start_date} and #{end_date}
             group by a.pc_pi_seq order by pc_count desc ;
        </select>
          

        <select id="showProdCntRank" resultType="com.shoppingMall.vo.ChartVO">
           select sum(a.pc_count)as pc_count,pi_name from product_count a inner join product_info b 
           on a.pc_pi_seq = b.pi_seq where a.pc_si_seq=#{si_seq} group by a.pc_pi_seq order by pc_count desc limit 5;
        </select>

       <!-- 업체의 제품개수 카운트 -->
        <select id="selectSellerProdCnt" resultType="java.lang.Integer">
          select count(*) from product_info where pi_si_seq=#{seq}
        </select>

        <select id="getSellerList"  resultType="com.shoppingMall.vo.SellerInfoVO" >
          select *,ROW_NUMBER() OVER(ORDER BY si_seq) AS no from seller_info  where si_name != '관리자' limit 6 offset #{offset};
        </select>

        <select id="getSellerAllforCate" resultType="com.shoppingMall.vo.SellerInfoVO" >
          select *,ROW_NUMBER() OVER(ORDER BY si_seq) AS no from seller_info  where si_name != '관리자' and si_grade = 1;
        </select>


        <select id="getSellerListCnt"  resultType="java.lang.Integer" >
          select count(*) from seller_info  where si_name != '관리자' 
        </select>
        
      <!-- 업체 강제 삭제 -->
        <delete id="deleteSeller">
         delete from seller_info where si_seq=#{seq}
        </delete>

        <select id="getRegistImage" resultType="com.shoppingMall.vo.SellerRegistImageVO">
           select*from(
            select
            	*
            from(
            	  select
            	  	*
            	  from seller_regist_image
            	  where (sr_si_seq, sr_reg_dt) in (
            	  	select sr_si_seq, max(sr_reg_dt) as date_time
            	  	from seller_regist_image group by sr_si_seq
            	  )
            	  order by sr_reg_dt desc
            ) t
            group by t.sr_si_seq) a inner join seller_info b on a.sr_si_seq = b.si_seq where si_grade=2;
        </select>
       
       <select id="getRegistImageName" resultType="java.lang.String">
        select sr_filename from seller_regist_image where sr_uri=#{uri} and sr_si_seq=#{si_seq} order by sr_si_seq desc limit 1;
       </select>

       <!-- 판매자등급 0 > 1 가입대기에서 정식판매자로 등록 -->
       <update id="sellerGradeUpdate">
        UPDATE seller_info SET  si_grade=#{grade} WHERE si_id=#{si_id};
       </update>

       <select id ="selectRegistImageUri" resultType="com.shoppingMall.vo.SellerRegistImageVO">
        select * from seller_regist_image where sr_si_seq=#{seq}  order by sr_reg_dt desc limit 1;
       </select>
  </mapper>