.detail_container {width: 1050px; margin: 30px auto; overflow: hidden;}
.img_area{width: 430px; margin-right:50px}
.img_area img{width:100%;}
.text_area{width: 560px;}
.detail_container > div{float: left;}
.text_area > h2 {font-size: 28px; font-weight: 500; margin-bottom: 40px;}
.text_area > p { font-size: 14px; margin-bottom: 5px;}
.text_area .price{font-size: 28px;font-weight: 500;}
.text_area .price .discounted {font-style: 28px;}
.text_area .price .discount_rate{font-size: 28px; color:orangered;}
.origin_price{color: #999; text-decoration: line-through;}
.detail_info_table{margin-top: 40px; width: 100%; border-top: 1px solid #ddd;}
.detail_info_table td:first-child{width: 150px; color: #666;}
.detail_info_table td{padding: 25px 0; font-size: 14px; border-bottom: 1px solid #ddd;} 
.purchase_area{margin-top: 20px;text-align: right;}
.total_price span:first-child{font-size: 14px;}
.total_price b{font-size: 28px;font-weight: 500;margin-left: 5px;}
.total_price span:last-child{font-size: 18px; font-weight: 500;}
.total_price{margin-bottom: 10px;}
.save_point {font-size: 14px; text-align: right;}
.save_point span:first-child{font-size: 12px;display: inline-block; padding: 5px 10px;
    background-color: #ffbf00; color: #fff; border: 1px solid #e8a828; border-radius: 99px;
    
} 
.buttons{
    margin-top: 10px; font-size: 0;
    /* 폰트사이즈? 왜? 옆으로 */
}
.buttons button{
    width: calc(50% - 5px); border: 0; padding: 15px 0; font-size: 18px;
    border-radius: 5px; color: #fff;  background-color: #fdd835; font-weight: 500; border: 1px solid;
}
.buttons #shopping_bag {margin-right: 10px; background-color: #fff; color: #fdd835;}
.buttons #shopping_bag.in{ background-color: #fdd835; color: #fff;}

.regular_regist > img{   
    margin-top: 3px;
    width: 30px; 
}
.regular_regist > button > span{   
  font-size: 20px;
}

.regular_regist>button{
    background-color:transparent;
	border-radius:24px;
	border:2px solid #fdd835;
	cursor:pointer;
	color:#000000;
	font-size:14px;
	padding:8px 8px;
	text-decoration:none;  
    margin-bottom: 15px; 
    margin-left: 8px;


}
