/* shop.css */

.item_list {
    width: 1050px;
    margin: 0 auto;
    font-size: 0;
}

.item_list a {
    display: inline-block;
    width: calc((100% - 40px)/3);
    height: 605px;
    margin-right: 20px;
    margin-top:50px;
    font-size: 16px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;

}

/* 3의 배수 위치에 있는 a태그 */
.item_list a:nth-child(3n) {
    margin-right: 0;
}

.item_list a img {
    width: 100%;
    vertical-align: top;
}

.item_list a>span {
    display: inline-block;
    width: 100%;
}

.item_list a .name {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    color: #333;
}

.item_list a .price {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.item_list a .price .discount_rate {
    color: orangered;
}

.item_list a .price .discounted_price {
    color: #333;
}

.item_list a .origin_price {
    margin-top: 10px;
    color: #999;
    text-decoration: line-through;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 50px 0;

}
.nodata {text-align: center; font-size: 18px; color: #666; padding: 20px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;
        width: 1050px; margin: 0 auto; margin-bottom: 200px;
}


.recommand_wrap {font-size: 0;width: 1050px; margin: 0 auto;  
    border: 2px solid #fdd835; padding: 15px; border-style: dotted; padding-bottom: 0;background-color: #fbf3cb;}

.regular_wrap{width: 1050px;float: center;  margin: 0 auto; margin-bottom: 80px;}
.recommand_wrap > h2{
    font-size: 30px; font-weight: 400; margin-bottom: 10px; color: rgb(255, 105, 105);
}
.div_regular{float: right; }
.div_regular>img{ width: 30px; vertical-align: middle;}
.insert_regular{width: 1050px; margin: auto; text-align: right; vertical-align: top;}
.insert_regular button {
    border:0;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.insert_regular button > img {width: 70px;}
.recommand_place > h1 ,.seller_place > h1{ font-size: 40px; font-weight: 700;text-align: center; margin-top: 80px; margin-bottom: 40px; }
.recommand_place > h1 > span,.seller_place > h1 > span{ font-size: 14px; font-weight: 500;text-align: center; margin-top: 80px; margin-bottom: 40px; }
.prod_item {width: 249px;  font-size: 16px; vertical-align: top; display: inline-block;  margin-right: 18px; margin-bottom: 18px; color: #333; text-decoration: none;}
.prod_item:last-child{margin-right: 0;}
.prod_item .img_area img{width: 100%; }
.prod_item .text_area{margin-top: 10px;}
.prod_item .text_area .price {margin-top: 10px; font-weight: 700;}
.prod_item .text_area .discount_rate {color: orangered; margin-right: 3px;}
.prod_item .text_area .origin_price {margin-top: 10px; font-size: 14px; text-decoration: line-through; color: #999;}
.sell_top4 > h2 { font-size: 20px; font-weight: 300;text-align: center; margin-top: 80px; margin-bottom: 40px;}